.welcome {
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    color: white;
    
}
/* .welcome {
    position: absolute;
    top: 50%;
    left: 50%;    
}*/
.card {
    text-align: center;
    position: absolute;
    width: 90%;
}
.services {
    position: relative;
    text-align: center;
    bottom: 0px;  
}

.what-we-do{
    text-align: center;
    padding-bottom: 30px;
}
.container {
    padding: 4rem;
    text-align: center;
}
.para1-hidden, .para2-hidden, .para3-hidden {
    display: none;
}
.product, .development, .design {
    cursor: pointer;
}
.portfolio {
    text-align: center;
}

.rights {
    text-align: center;
}



