.welcome {
    position: relative;;
    float: right;
    
}
.welcome {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 550px;
    
}
.card {
    text-align: center;
    position: absolute;
    width: 90%;
}
.services {
    position: absolute;
    text-align: center;
    
}
.what-we-do{
    text-align: center;
    padding-bottom: 30px;
}
.container {
    padding: 4rem;
    text-align: center;
}