.welcome {
    position: relative;;
    float: right;
    
}
.welcome {
    position: absolute;
    text-align: center;
    top: 400px;
    left: 650px;
    
}
.card {
    text-align: center;
    position: absolute;
    width: 90%;
}
.services {
    position: absolute;
    text-align: center;
    
}
.what-we-do{
    text-align: center;
    padding-bottom: 30px;
}
.container {
    padding: 4rem;
    text-align: center;
}
.para1-hidden, .para2-hidden, .para3-hidden {
    display: none;
}
.product, .development, .design {
    cursor: pointer;
}
.portfolio {
    text-align: center;
}

img{
    width: 100%;
}



