.welcome {
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
    color: white;
}
.card {
    text-align: center;
    position: absolute;
}
.services {
    position: relative;
    text-align: center;
    top: 100px;
    color: white;
}
#serv {
    background-image: url(/images/serv_image.jpg);
    height: 320px;
}
.what-we-do{
    text-align: center;
    padding-bottom: 30px;
}
.container {
    padding: 4rem;
    text-align: center;
}
.para1-hidden, .para2-hidden, .para3-hidden {
    display: none;
}
.product, .development, .design {
    cursor: pointer;
}
.portfolio {
    text-align: center;
}
.rights{
    text-align: center;
}
.form-control{
    background: transparent;
}
#head, #output{
    color: white;
    text-align: center;
}
#contact {
    background-image: url(/images/cont_image.jpg);
    height: 400px;
}



